.headerContainer {
  display: block;
  top: 50%;
  left: 50%;
}

.nameText {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
}

.nameSubHeading {
  font-size: 37px;
  color: #96979c;
  font-weight: 700;
}

.linkSection {
  display: flex;
}
