.headerContainer {
  display: block;
  top: 50%;
  left: 50%;
}

.nameText {
  font-size: 60px;
  font-weight: 700;
}

.nameSubHeading {
  font-size: 37px;
  font-weight: 700;
}

.linkSection {
  display: flex;
}
