a {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
a:hover,
a:focus {
  color: green;
  outline: 0;
}

.linkContainer {
  transition: all 0.3s;
  border: 1px solid #000;
  border-radius: 0.6em;
  margin-right: 1.2em;
}

.linkContainer:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}
