a {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0.6em;
  color: #000;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin-right: 1.2em;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
/* a:hover,
a:focus {
  color: #fff;
  outline: 0;
} */

.linkText {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.linkText:hover {
  box-shadow: 0 0 40px 40px #fff inset;
}
